shaddai-api/config/.env
shaddai-api/vendor/

.vscode/

shaddai-app/node_modules

shaddai-app/dist/

shaddai-api/public/uploads/payments/
shaddai-api/public/uploads/receipts/

shaddai-api/public/uploads/

shaddai-app/dist/

shaddai-app/.env